<nav class="navbar bg-dark">
    <ul>
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand" href="#">
                <img src="src/app/images/battlenet.png" class="img-fluid" alt="">
                <p class="text-white"> BATTLE.NET</p>
            </a>
          </nav>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href='#'>
            <p class="text-secondary"> Download Battle.net</p>
        </a></li>
        <li class="nav-item"><a class="nav-link" href='#'>
            <p class="text-secondary"> Support</p>
        </a></li>
        <li class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="nav-link" href='#'>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item active" href='#'>
                        Log In
                    </a></li>
              </ul>
        </a></li>
    </ul>
