<nav class="navbar bg-dark">
    <ul>
        <nav class="navbar navbar-light bg-dark">
            <img routerLink="/home" src="./assets/longBattlenet.png" width="300">
          </nav>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href='#'>
            <p class="text-secondary"> Download Battle.net</p>
        </a></li>
        <li class="nav-item"><a class="nav-link" href='#'>
            <p class="text-secondary"> Support</p>
        </a></li>
        <li class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="nav-link" href='#'>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                My Account
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item active" href='#'>
                        <button type="button" class="btn btn-primary">Log In</button>
                    </a>
                    <a class="dropdown-item active" href='#'>
                       Account Settings
                    </a>
                    <a class="dropdown-item active" href='#'>
                        Create a Free Account
                    </a>
              </ul>
        </a></li>
    </ul>
