<footer class="text-center text-lg-start bg-dark">
    <ul>   
        <div class="text-center">
        <div class="btn-group dropup" style="text-align:center;">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            English (US)
            </button>
        <div class="dropdown-menu">
        </div>
      </div>
      </div>
      <p style="text-align: center;">
    <img src="./assets/longBattlenet.png" width="250">  
    </p>
    
    <p class="text-secondary" style="text-align:center;">CAREERS | ABOUT | SUPPORT | CONTACT US | PRESS | API</p>
    <p style="font-size:13px" class="text-secondary" style="text-align:center;">Ⓒ2021 BLIZZARD ENTERTAINMENT,INC. ALL RIGHTS RESERVED.</p>
    <p style="font-size:13px" class="text-secondary" style="text-align:center;"> All trademarks referenced herein are the properties of their respective owners.</p>
    <p style="font-size:13px" class="text-secondary" style="text-align:center;">PRIVACY | LEGAL | TERMS | COOKIE POLICY | COOKIE SETTINGS</p>
    <p style="text-align: center;">
        <img src="./assets/esrb.jpg" width="70">
        &nbsp;
        <img src="./assets/rating.png" width="80">
    </p>
    &nbsp;
</ul>
</footer>