<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/d2store.jpg" class="card-img-top" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgb(36, 37, 43);">
                <h5 class="text-white">Diablo II: Resurrected</h5>
                &nbsp;
                <h5 class="bg-warning">Pre-Purchase Now</h5>
                &nbsp;
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
          </div>
      </div>
    </div>
  </div>
