<nav class="navbar bg-dark">
    <ul class="nav">
        <div class="mx-auto" style="width: 350px;">
          
        </div>
        <li class="nav-item">
            <p class="text-white">GAMES</p>
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/world-of-warcraft.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/world-of-warcraft-classic.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/call-of-duty-warzone.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/vanguard.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/black-ops.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/mw.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/mw2.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/black-ops-4.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/hearthstone.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/overwatch.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/call-of-duty-warzone.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/dii.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/diii.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/scii.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/sc.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/wiii.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/hots.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/crash.svg" width="50">
        </li>
        &nbsp;
        <li class="nav-item">
            <img src="./assets/blizzcon.svg" width="50">
        </li>
    </ul>
  </nav>