<div routerLink="/warzone" class="card-group bg-dark">
    <div class="card bg-secondary">
      <img src="./assets/warzoneCharacters.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Call of Duty®: Warzone</h5>
        <p class="card-text text-warning">FREE FOR EVERYONE</p>
        <p class="card-text"><small class="text-white">Play For Free</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div routerLink="/diabloII" class="card bg-secondary">
      <img src="./assets/prime.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Diablo® II: Resurrected</h5>
        <p class="card-text text-warning">Pre-Purchase Now</p>
        <p class="card-text"><small class="text-white">$39.99</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div routerLink="/vanguard" class="card bg-secondary">
      <img src="./assets/vanguardCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Call of Duty®: Vanguard - Ultimate Edition</h5>
        <p class="card-text text-warning">Pre-Purchase and get early access to the Open Beta*!</p>
        <p class="card-text"><small class="text-white">$99.99</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div routerLink="/hearthstone" class="card bg-secondary">
        <img src="./assets/hsCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Diablo®: Mercenaries Bundle</h5>
          <p class="card-text text-warning">Pre-Purchase and get early access to the Open Beta*!</p>
          <p class="card-text"><small class="text-white">$49.99</small></p>
        </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div class="card bg-secondary">
        <img src="./assets/promoCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">World of Warcraft®: Special Subscription Offer</h5>
          <p class="card-text text-warning">Includes access to World of Warcraft, Burning Crusade Classic, and WoW Classic!</p>
          <p class="card-text"><small class="text-white">Learn More</small></p>
        </div>
      </div>
  </div>
  &nbsp;
  <div class="card-group bg-dark">
    <div class="card bg-secondary">
      <img src="./assets/tracerCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Overwatch®: Legendary Edition</h5>
        <p class="card-text text-warning"></p>
        <p class="card-text"><small class="text-white">$39.99</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div class="card bg-secondary">
      <img src="./assets/bolvarCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">World of Warcraft®: Shadowlands</h5>
        <p class="card-text text-warning">Enter the Shadowlands! Available now</p>
        <p class="card-text"><small class="text-white">$39.99</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div class="card bg-secondary">
      <img src="./assets/coldCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Call of Duty®: Black Ops Cold War - Ultimate Edition</h5>
        <p class="card-text text-warning">Get the Captain Price Operator included with purchase</p>
        <p class="card-text"><small class="text-white">$89.99</small></p>
      </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div class="card bg-secondary">
        <img src="./assets/priceCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Call of Duty®: Modern Warfare®</h5>
          <p class="card-text text-warning">Play Warzone Free Now!</p>
          <p class="card-text"><small class="text-white">$59.99</small></p>
        </div>
    </div>
    <div class="mx-auto" style="width: 40px;">
          
    </div>
    <div class="card bg-secondary">
        <img src="./assets/bcCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">WoW®: Burning Crusade Classic Deluxe Edition</h5>
          <p class="card-text text-warning">Burning Crusade Classic IS INCLUDED with you WoW Subscription.</p>
          <p class="card-text"><small class="text-white">$52.49</small></p>
        </div>
      </div>
  </div>